{% extends 'base.html.twig' %}

{% block title %}New Teacher{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('massage') %}
        <div class="flash-danger">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% set content = include('teacher/_form.html.twig') %}
        {% include "card_content.html.twig" with {
        'appicon': 'fa-dashboard',
        'title': 'Create new Teacher.',
        'detalle':content,
        }
    %}

{% endblock %}
