{% extends 'base.html.twig' %}

{% block title %}Edit TeacherExam{% endblock %}

{% block body %}
    <h1>Edit TeacherExam</h1>

    {{ include('teacher_exam/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_teacher_exam_index') }}">back to list</a>

    {{ include('teacher_exam/_delete_form.html.twig') }}
{% endblock %}
