{% extends 'base.html.twig' %}

{% block title %}Edit InscriptionExam{% endblock %}

{% block body %}
    <h1>Edit InscriptionExam</h1>

    {{ include('inscription_exam/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_inscription_exam_index') }}">back to list</a>

    {{ include('inscription_exam/_delete_form.html.twig') }}
{% endblock %}
