{% extends 'base.html.twig' %}

{% block title %}New InscriptionExam{% endblock %}

{% block body %}
    <h1>Create new InscriptionExam</h1>

    {{ include('inscription_exam/_form.html.twig') }}

    <a href="{{ path('app_inscription_exam_index') }}">back to list</a>
{% endblock %}
